<h2>Crear Usuario</h2>
<form (ngSubmit)="crearUsuario()">
  <label>Nombre:</label>
  <input [(ngModel)]="usuario.nombre" name="nombre" required><br>

  <label>Apellidos:</label>
  <input [(ngModel)]="usuario.apellido" name="apellido" required><br>

  <label>Nombre de Usuario:</label>
  <input [(ngModel)]="usuario.userName" name="userName" required><br>

  <label>Correo:</label>
  <input [(ngModel)]="usuario.email" name="email" required><br>

  <label>Contraseña:</label>
  <input [(ngModel)]="usuario.password" name="password" type="password" required><br>

  <button type="submit">Crear</button>
</form>
